@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color: #fefefe;

    font-family: 'Rubik', sans-serif;
}

/* header styling */
.navigation {
    display: flex;
}

.navBox {
    background-color: cadetblue;
    text-align: center;
    flex-grow: 1;
}

/* main styling */
main {
    text-align: center;
}

.content {
    padding: 0 25px;
}

#img {
    width: 400px;
    margin: auto;
    content: url('joshua-j-cotten-IWKIHuzl-tU-unsplash.jpg');
    border-radius: 2.5%;
}

/* footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #1f1f1f;
}

/* general styling */
a {
    font-size: 2rem;
    text-decoration: none;
    color: #fefefe;
    display: inline-block;
    width: 100%;
}

a:hover, a:active, a:focus {
    background-color: #406b6d;
}

/* media queries */
@media screen and (max-width: 600px) {
    #navBar {
        position: fixed;
        margin-bottom: 29px;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: flex;
    }
    .navigation {
        flex-grow: 1;
    }
    #img {
        width: 200px;
        content: url('raccoon-pngrepo-com.png');
    }
    a {
        font-size: 1.4rem;
    }
}